* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
}

main {
    padding: 20px;
    font-family: 'Mitr', sans-serif;
}

h1,
h2 {
    text-align: center;
    line-height: 0.75cm;
    padding: 15px;
}

section {
    padding-bottom: 10px;
}

input#zip {
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}


/* BUTTON STYLES */

.submit {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    height: 40px;
    border: none;
    color: black;
    cursor: pointer;
    background-color: white;
    border: 2px solid #2BB67A;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}


/* FILTER STYLES */

div {
    border: 1px solid black;
    height: 40px;
    width: 40%;
    line-height: 150%;
    border-radius: 30px;
    margin-bottom: 10px;
    height: 40px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.cuisineOptions:hover,
.cuisineOptions:active {
    background-color: #5997CD;
    color: white;
}

.whereToEat:hover,
.whereToEat:active {
    background-color: #DCCB32;
    color: white;
}

.submit:hover {
    text-decoration: underline;
    background-color: #2BB67A;
    color: white;
}


/* RESULTS STYLES */

.hidden {
    display: none;
}

ul {
    list-style-type: none;
}